# SQL CARTO QUERY FUNCTION
# written for PUI2016_Python2

##### This notebook is set up to link as a default to the fb55 account.  To turn in the homework use the same account you used in the lab (hvt201)  and query the database that you were querying in class (citibike_feb_2015)

In [1]:
SQL_SOURCE = 'https://fb55.carto.com/api/v2/sql?q='

import urllib2
import urllib
import StringIO
import ast
import pandas as pd

def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urllib.urlencode({'format': format, 'q': query})
    try:
        response = urllib2.urlopen(source, data)
    except urllib2.HTTPError,e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return response.read()

In [2]:
test = '''
SELECT *
FROM citibike
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 20 St & Park Ave,NaN,175,-73.987520,1090,2015-02-01 01:23:00+00,2015-02-01 01:42:00+00,503,107,40.738274,229,Great Jones St,40.727434,-73.993790,19718,Subscriber,1961.0,1
1,NaN,W 43 St & 10 Ave,NaN,1159,-73.994618,682,2015-02-01 10:55:00+00,2015-02-01 11:07:00+00,515,1088,40.760094,490,8 Ave & W 33 St,40.751551,-73.993934,21501,Subscriber,1981.0,1
2,NaN,E 6 St & Avenue B,NaN,2827,-73.981854,751,2015-02-01 13:59:00+00,2015-02-01 14:11:00+00,317,2759,40.724537,466,W 25 St & 6 Ave,40.743954,-73.991449,14788,Subscriber,1990.0,1
3,NaN,E 12 St & 3 Ave,NaN,4961,-73.988900,272,2015-02-01 17:28:00+00,2015-02-01 17:32:00+00,483,4893,40.732233,345,W 13 St & 6 Ave,40.736494,-73.997044,16219,Subscriber,1961.0,1
4,NaN,W 41 St & 8 Ave,NaN,6156,-73.990026,240,2015-02-01 21:36:00+00,2015-02-01 21:40:00+00,477,6090,40.756405,490,8 Ave & W 33 St,40.751551,-73.993934,18266,Customer,NaN,0
5,NaN,5 Ave & E 29 St,NaN,7433,-73.986831,376,2015-02-02 17:44:00+00,2015-02-02 17:50:00+00,474,7367,40.745168,537,Lexington Ave & E 24 St,40.740259,-73.984092,18048,Subscriber,1977.0,1
6,NaN,Allen St & Hester St,NaN,7779,-73.991908,1217,2015-02-02 20:12:00+00,2015-02-02 20:32:00+00,361,7712,40.716059,461,E 20 St & 2 Ave,40.735877,-73.982050,19732,Customer,NaN,0
7,NaN,E 39 St & 3 Ave,NaN,8327,-73.976049,441,2015-02-03 08:02:00+00,2015-02-03 08:10:00+00,167,8263,40.748901,526,E 33 St & 5 Ave,40.747659,-73.984907,21518,Subscriber,1975.0,1
8,NaN,10 Ave & W 28 St,NaN,9435,-74.001768,1475,2015-02-03 12:31:00+00,2015-02-03 12:56:00+00,489,9375,40.750664,455,1 Ave & E 44 St,40.750020,-73.969053,19863,Subscriber,1984.0,2
9,NaN,E 2 St & 2 Ave,NaN,10472,-73.990697,420,2015-02-03 16:45:00+00,2015-02-03 16:52:00+00,403,10411,40.725029,297,E 15 St & 3 Ave,40.734232,-73.986923,19257,Subscriber,1984.0,1
10,NaN,1 Ave & E 44 St,NaN,10931,-73.969053,876,2015-02-03 17:37:00+00,2015-02-03 17:52:00+00,455,10867,40.750020,477,W 41 St & 8 Ave,40.756405,-73.990026,17392,Subscriber,1977.0,1
11,NaN,W 45 St & 6 Ave,NaN,11361,-73.982912,640,2015-02-03 18:21:00+00,2015-02-03 18:32:00+00,493,11300,40.756800,440,E 45 St & 3 Ave,40.752554,-73.972826,21433,Subscriber,1981.0,1
12,NaN,W 18 St & 6 Ave,NaN,12173,-73.994564,571,2015-02-03 20:26:00+00,2015-02-03 20:35:00+00,168,12114,40.739713,494,W 26 St & 8 Ave,40.747348,-73.997236,19493,Subscriber,1964.0,1
13,NaN,E 58 St & 3 Ave,NaN,12211,-73.967245,821,2015-02-03 20:37:00+00,2015-02-03 20:50:00+00,305,12152,40.760958,515,W 43 St & 10 Ave,40.760094,-73.994618,16564,Subscriber,1983.0,1
14,NaN,E 33 St & 5 Ave,NaN,12560,-73.984907,376,2015-02-03 22:20:00+00,2015-02-03 22:26:00+00,526,12500,40.747659,507,E 25 St & 2 Ave,40.739126,-73.979738,19721,Subscriber,1991.0,1
15,NaN,W 31 St & 7 Ave,NaN,13239,-73.991600,770,2015-02-04 07:21:00+00,2015-02-04 07:34:00+00,379,13183,40.749156,461,E 20 St & 2 Ave,40.735877,-73.982050,15184,Subscriber,1987.0,2
16,NaN,5 Ave & E 29 St,NaN,13365,-73.986831,319,2015-02-04 07:35:00+00,2015-02-04 07:40:00+00,474,13312,40.745168,476,E 31 St & 3 Ave,40.743943,-73.979661,16067,Subscriber,1991.0,1
17,NaN,E 39 St & 2 Ave,NaN,13750,-73.973442,358,2015-02-04 08:11:00+00,2015-02-04 08:17:00+00,518,13702,40.747804,537,Lexington Ave & E 24 St,40.740259,-73.984092,19181,Subscriber,1991.0,1
18,NaN,10 Ave & W 28 St,NaN,14218,-74.001768,338,2015-02-04 08:45:00+00,2015-02-04 08:50:00+00,489,14172,40.750664,494,W 26 St & 8 Ave,40.747348,-73.997236,18840,Subscriber,1992.0,2
19,NaN,W 42 St & 8 Ave,NaN,14431,-73.990985,575,2015-02-04 08:59:00+00,2015-02-04 09:08:00+00,529,14384,40.757570,442,W 27 St & 7 Ave,40.746647,-73.993915,15151,Subscriber,1956.0,1
20,NaN,E 27 St & 1 Ave,NaN,15157,-73.976806,451,2015-02-04 10:10:00+00,2015-02-04 10:17:00+00,2012,15113,40.739445,518,E 39 St & 2 Ave,40.747804,-73.973442,20338,Subscriber,1990.0,2
21,NaN,Great Jones St,NaN,15669,-73.993790,548,2015-02-04 11:51:00+00,2015-02-04 12:00:00+00,229,15625,40.727434,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,15482,Subscriber,1962.0,1
22,NaN,W 49 St & 8 Ave,NaN,16526,-73.987882,404,2015-02-04 14:08:00+00,2015-02-04 14:14:00+00,450,16481,40.762272,520,W 52 St & 5 Ave,40.759923,-73.976485,17488,Subscriber,1965.0,2
23,NaN,Broadway & W 24 St,NaN,16572,-73.989151,357,2015-02-04 14:15:00+00,2015-02-04 14:21:00+00,444,16527,40.742354,475,E 16 St & Irving Pl,40.735243,-73.987586,17453,Subscriber,1975.0,1
24,NaN,E 40 St & 5 Ave,NaN,18931,-73.981632,330,2015-02-04 18:02:00+00,2015-02-04 18:08:00+00,153,18880,40.752062,518,E 39 St & 2 Ave,40.747804,-73.973442,18973,Subscriber,1980.0,1
25,NaN,E 16 St & 5 Ave,NaN,19229,-73.992390,606,2015-02-04 18:19:00+00,2015-02-04 18:29:00+00,496,19177,40.737262,379,W 31 St & 7 Ave,40.749156,-73.991600,18362,Subscriber,1981.0,1
26,NaN,Broadway & W 36 St,NaN,20481,-73.987654,1001,2015-02-04 19:59:00+00,2015-02-04 20:15:00+00,267,20425,40.750977,504,1 Ave & E 15 St,40.732219,-73.981656,19935,Subscriber,1985.0,2
27,NaN,8 Ave & W 31 St,NaN,21285,-73.994811,1618,2015-02-04 21:58:00+00,2015-02-04 22:25:00+00,521,21228,40.750450,483,E 12 St & 3 Ave,40.732233,-73.988900,14660,Subscriber,1976.0,1
28,NaN,W 45 St & 6 Ave,NaN,23338,-73.982912,876,2015-02-05 08:29:00+00,2015-02-05 08:43:00+00,493,23298,40.756800,454,E 51 St & 1 Ave,40.754557,-73.965930,16891,Subscriber,1964.0,1
29,NaN,FDR Drive & E 35 St,NaN,23392,-73.971212,506,2015-02-05 08:32:00+00,2015-02-05 08:40:00+00,501,23353,40.744219,164,E 47 St & 2 Ave,40.753231,-73.970325,18208,Subscriber,1978.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46170,NaN,Washington Pl & Broadway,NaN,46170,-73.994046,812,2015-02-07 23:51:00+00,2015-02-08 00:05:00+00,335,46171,40.729039,435,W 21 St & 6 Ave,40.741740,-73.994156,15733,Subscriber,1988.0,1
46171,NaN,Allen St & Hester St,NaN,46171,-73.991908,647,2015-02-07 23:51:00+00,2015-02-08 00:02:00+00,361,46172,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,16931,Subscriber,1995.0,1
46172,NaN,Warren St & Church St,NaN,46172,-74.009106,563,2015-02-07 23:51:00+00,2015-02-08 00:00:00+00,152,46173,40.714740,401,Allen St & Rivington St,40.720196,-73.989978,17202,Subscriber,1987.0,1
46173,NaN,E 12 St & 3 Ave,NaN,46173,-73.988900,470,2015-02-07 23:51:00+00,2015-02-07 23:59:00+00,483,46174,40.732233,439,E 4 St & 2 Ave,40.726281,-73.989780,20314,Subscriber,1989.0,2
46174,NaN,Dean St & 4 Ave,NaN,46174,-73.978951,299,2015-02-07 23:51:00+00,2015-02-07 23:56:00+00,467,46175,40.683125,395,Bond St & Schermerhorn St,40.688070,-73.984106,21531,Subscriber,1989.0,1
46175,NaN,Allen St & Hester St,NaN,46175,-73.991908,629,2015-02-07 23:52:00+00,2015-02-08 00:02:00+00,361,46176,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,21491,Subscriber,1968.0,1
46176,NaN,Broadway & E 22 St,NaN,46176,-73.989551,499,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,402,46177,40.740343,380,W 4 St & 7 Ave S,40.734011,-74.002939,15367,Subscriber,1990.0,1
46177,NaN,Washington Pl & 6 Ave,NaN,46177,-74.000264,474,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,369,46178,40.732241,368,Carmine St & 6 Ave,40.730386,-74.002150,18978,Subscriber,1973.0,2
46178,NaN,E 31 St & 3 Ave,NaN,46178,-73.979661,345,2015-02-07 23:52:00+00,2015-02-07 23:58:00+00,476,46179,40.743943,504,1 Ave & E 15 St,40.732219,-73.981656,19507,Subscriber,1980.0,1
46179,NaN,Broadway & W 60 St,NaN,46179,-73.981918,829,2015-02-07 23:53:00+00,2015-02-08 00:07:00+00,499,46180,40.769155,160,E 37 St & Lexington Ave,40.748238,-73.978311,16936,Subscriber,1980.0,1
46180,NaN,Carmine St & 6 Ave,NaN,46180,-74.002150,776,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,368,46181,40.730386,531,Forsyth St & Broome St,40.718939,-73.992663,18689,Subscriber,1982.0,1
46181,NaN,W 52 St & 5 Ave,NaN,46181,-73.976485,697,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,520,46182,40.759923,478,11 Ave & W 41 St,40.760301,-73.998842,15781,Subscriber,1972.0,1
46182,NaN,Dean St & 4 Ave,NaN,46182,-73.978951,1703,2015-02-07 23:54:00+00,2015-02-08 00:23:00+00,467,46183,40.683125,471,Grand St & Havemeyer St,40.712868,-73.956981,15081,Subscriber,1988.0,1
46183,NaN,9 Ave & W 45 St,NaN,46183,-73.991255,922,2015-02-07 23:54:00+00,2015-02-08 00:10:00+00,479,46184,40.760193,247,Perry St & Bleecker St,40.735354,-74.004831,21672,Subscriber,1983.0,1
46184,NaN,Broadway & W 58 St,NaN,46184,-73.981693,849,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46185,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,16336,Subscriber,1970.0,1
46185,NaN,Broadway & W 58 St,NaN,46185,-73.981693,826,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46186,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,21609,Subscriber,1973.0,1
46186,NaN,Watts St & Greenwich St,NaN,46186,-74.009660,473,2015-02-07 23:54:00+00,2015-02-08 00:02:00+00,328,46187,40.724055,3002,South End Ave & Liberty St,40.711512,-74.015756,19470,Subscriber,1964.0,1
46187,NaN,W 51 St & 6 Ave,NaN,46187,-73.980420,332,2015-02-07 23:54:00+00,2015-02-07 23:59:00+00,510,46188,40.760660,450,W 49 St & 8 Ave,40.762272,-73.987882,18167,Subscriber,1960.0,1
46188,NaN,University Pl & E 14 St,NaN,46188,-73.992005,456,2015-02-07 23:55:00+00,2015-02-08 00:03:00+00,382,46189,40.734927,404,9 Ave & W 14 St,40.740583,-74.005509,15929,Subscriber,1987.0,1
46189,NaN,W 11 St & 6 Ave,NaN,46189,-73.998004,327,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,254,46190,40.735324,466,W 25 St & 6 Ave,40.743954,-73.991449,17541,Subscriber,1983.0,1
46190,NaN,W 17 St & 8 Ave,NaN,46190,-74.001497,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,46191,40.741776,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983.0,2
46191,NaN,W 47 St & 10 Ave,NaN,46191,-73.993012,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,46192,40.762699,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984.0,1
46192,NaN,Warren St & Church St,NaN,46192,-74.009106,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,46193,40.714740,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959.0,1
46193,NaN,E 20 St & 2 Ave,NaN,46193,-73.982050,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,46194,40.735877,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974.0,1
46194,NaN,1 Ave & E 44 St,NaN,46194,-73.969053,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,46195,40.750020,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960.0,2
46195,NaN,W 20 St & 8 Ave,NaN,46195,-74.000040,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,46196,40.743453,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953.0,1
46196,NaN,5 Ave & E 29 St,NaN,46196,-73.986831,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,46197,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986.0,2
46197,NaN,5 Ave & E 29 St,NaN,46197,-73.986831,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,46198,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986.0,1
46198,NaN,Carmine St & 6 Ave,NaN,46198,-74.002150,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,46199,40.730386,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983.0,2
46199,NaN,E 4 St & 2 Ave,NaN,46199,-73.989780,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,46200,40.726281,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965.0,2

### Task 1  Familiarize with SQL Clauses

#### 1. Sort data by start_station_id, tripduration
     - Only checking trips with duration <= 3 hours
#### 3. Only show the top/last 10 records (aka head and tail in SQL) List all unique start_station_id values
#### 4. Aggregation functions:
#### 5. Count the number of trips (aka wc -l in SQL) Find the average/min/max trip duration

In [3]:
author = "__Gabriel__"
contact = "__gabrielyin@berkeley.edu__"

"""
Copy at your own risk!! If you have questions I am willing to help. Just don't copy and paste my code. 
You won't learn anything from it. I will report, if necessary, suspicious plagiarism to Student Judicial Affairs.

"""

# begin task1 
# first 10 rows 
task1_1 = '''
select * from citibike
where tripduration <= 60 * 60 * 3
order by start_station_id
limit 10
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task1_1)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,W 52 St & 11 Ave,NaN,3370,-73.993929,569,2015-02-01 14:52:00+00,2015-02-01 15:01:00+00,72,3302,40.767272,499,Broadway & W 60 St,40.769155,-73.981918,17429,Subscriber,1981.0,1
1,NaN,W 52 St & 11 Ave,NaN,4024,-73.993929,387,2015-02-01 15:57:00+00,2015-02-01 16:03:00+00,72,3957,40.767272,514,12 Ave & W 40 St,40.760875,-74.002777,15282,Subscriber,1991.0,1
2,NaN,W 52 St & 11 Ave,NaN,2348,-73.993929,301,2015-02-01 13:08:00+00,2015-02-01 13:13:00+00,72,2282,40.767272,447,8 Ave & W 52 St,40.763707,-73.985162,18174,Subscriber,1974.0,1
3,NaN,W 52 St & 11 Ave,NaN,2051,-73.993929,1944,2015-02-01 12:39:00+00,2015-02-01 13:12:00+00,72,1983,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,17849,Customer,NaN,0
4,NaN,W 52 St & 11 Ave,NaN,455,-73.993929,961,2015-02-01 08:38:00+00,2015-02-01 08:54:00+00,72,387,40.767272,212,W 16 St & The High Line,40.743349,-74.006818,20786,Subscriber,1972.0,2
5,NaN,W 52 St & 11 Ave,NaN,1597,-73.993929,962,2015-02-01 11:47:00+00,2015-02-01 12:03:00+00,72,1527,40.767272,212,W 16 St & The High Line,40.743349,-74.006818,16524,Subscriber,1977.0,1
6,NaN,W 52 St & 11 Ave,NaN,2208,-73.993929,339,2015-02-01 12:54:00+00,2015-02-01 13:00:00+00,72,2142,40.767272,478,11 Ave & W 41 St,40.760301,-73.998842,19672,Subscriber,1982.0,1
7,NaN,W 52 St & 11 Ave,NaN,718,-73.993929,344,2015-02-01 09:49:00+00,2015-02-01 09:54:00+00,72,649,40.767272,2021,W 45 St & 8 Ave,40.759291,-73.988597,14692,Subscriber,1986.0,2
8,NaN,W 52 St & 11 Ave,NaN,1299,-73.993929,934,2015-02-01 11:14:00+00,2015-02-01 11:30:00+00,72,1230,40.767272,212,W 16 St & The High Line,40.743349,-74.006818,17541,Subscriber,1969.0,1
9,NaN,W 52 St & 11 Ave,NaN,5202,-73.993929,455,2015-02-01 17:55:00+00,2015-02-01 18:03:00+00,72,5136,40.767272,529,W 42 St & 8 Ave,40.757570,-73.990985,16427,Subscriber,1983.0,1

In [4]:
# last 10 rows 
task1_2 = '''
select * from citibike
where tripduration <= 60 * 60 * 3
order by start_station_id desc
limit 10
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task1_2)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,South End Ave & Liberty St,NaN,1932,-74.015756,689,2015-02-01 12:25:00+00,2015-02-01 12:36:00+00,3002,1863,40.711512,358,Christopher St & Greenwich St,40.732916,-74.007114,19309,Subscriber,1996.0,1
1,NaN,South End Ave & Liberty St,NaN,2094,-74.015756,307,2015-02-01 12:42:00+00,2015-02-01 12:47:00+00,3002,2026,40.711512,147,Greenwich St & Warren St,40.715422,-74.011220,18386,Subscriber,1984.0,2
2,NaN,South End Ave & Liberty St,NaN,1698,-74.015756,745,2015-02-01 11:57:00+00,2015-02-01 12:09:00+00,3002,1628,40.711512,369,Washington Pl & 6 Ave,40.732241,-74.000264,20901,Subscriber,1980.0,1
3,NaN,South End Ave & Liberty St,NaN,1657,-74.015756,858,2015-02-01 11:53:00+00,2015-02-01 12:07:00+00,3002,1587,40.711512,355,Bayard St & Baxter St,40.716021,-73.999744,15748,Subscriber,1959.0,1
4,NaN,South End Ave & Liberty St,NaN,1402,-74.015756,1243,2015-02-01 11:27:00+00,2015-02-01 11:48:00+00,3002,1333,40.711512,360,William St & Pine St,40.707179,-74.008873,18288,Customer,NaN,0
5,NaN,South End Ave & Liberty St,NaN,1542,-74.015756,683,2015-02-01 11:43:00+00,2015-02-01 11:55:00+00,3002,1472,40.711512,308,St James Pl & Oliver St,40.713079,-73.998512,16987,Subscriber,1980.0,2
6,NaN,South End Ave & Liberty St,NaN,361,-74.015756,301,2015-02-01 07:49:00+00,2015-02-01 07:54:00+00,3002,293,40.711512,417,Barclay St & Church St,40.712912,-74.010202,19484,Subscriber,1980.0,2
7,NaN,South End Ave & Liberty St,NaN,1297,-74.015756,1900,2015-02-01 11:14:00+00,2015-02-01 11:45:00+00,3002,1228,40.711512,525,W 34 St & 11 Ave,40.755942,-74.002116,17849,Customer,NaN,0
8,NaN,South End Ave & Liberty St,NaN,1576,-74.015756,7225,2015-02-01 11:46:00+00,2015-02-01 13:47:00+00,3002,1506,40.711512,499,Broadway & W 60 St,40.769155,-73.981918,21202,Customer,NaN,0
9,NaN,South End Ave & Liberty St,NaN,2271,-74.015756,790,2015-02-01 13:01:00+00,2015-02-01 13:14:00+00,3002,2205,40.711512,368,Carmine St & 6 Ave,40.730386,-74.002150,17004,Subscriber,1979.0,1

In [5]:
# sort by tripduration: first 10 rows 
task1_3 = '''
select * from citibike
where tripduration <= 60 * 60 * 3
order by tripduration
limit 10
'''
# sort by tripduration: last 10 rows 
task1_4 = '''
select * from citibike
where tripduration <= 60 * 60 * 3
order by tripduration desc
limit 10 
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task1_3)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,W 29 St & 9 Ave,NaN,13533,-73.998393,60,2015-02-04 07:52:00+00,2015-02-04 07:53:00+00,512,13482,40.750073,512,W 29 St & 9 Ave,40.750073,-73.998393,21627,Subscriber,1960,2
1,NaN,Laight St & Hudson St,NaN,19295,-74.007718,60,2015-02-04 18:22:00+00,2015-02-04 18:23:00+00,248,19243,40.721854,248,Laight St & Hudson St,40.721854,-74.007718,20309,Subscriber,1970,1
2,NaN,Mott St & Prince St,NaN,8347,-73.994800,60,2015-02-03 08:07:00+00,2015-02-03 08:08:00+00,251,8284,40.723180,251,Mott St & Prince St,40.723180,-73.994800,19896,Subscriber,1982,1
3,NaN,8 Ave & W 31 St,NaN,13098,-73.994811,60,2015-02-04 06:54:00+00,2015-02-04 06:55:00+00,521,13043,40.750450,521,8 Ave & W 31 St,40.750450,-73.994811,14788,Subscriber,1971,1
4,NaN,W 31 St & 7 Ave,NaN,7865,-73.991600,60,2015-02-02 21:39:00+00,2015-02-02 21:40:00+00,379,7798,40.749156,379,W 31 St & 7 Ave,40.749156,-73.991600,17643,Subscriber,1986,1
5,NaN,Division St & Bowery,NaN,14163,-73.997047,60,2015-02-04 08:41:00+00,2015-02-04 08:42:00+00,296,14117,40.714131,296,Division St & Bowery,40.714131,-73.997047,21644,Subscriber,1990,1
6,NaN,E 6 St & Avenue B,NaN,3178,-73.981854,60,2015-02-01 14:34:00+00,2015-02-01 14:35:00+00,317,3110,40.724537,317,E 6 St & Avenue B,40.724537,-73.981854,20572,Subscriber,1985,1
7,NaN,5 Ave & E 29 St,NaN,7364,-73.986831,60,2015-02-02 17:14:00+00,2015-02-02 17:15:00+00,474,7299,40.745168,474,5 Ave & E 29 St,40.745168,-73.986831,20842,Subscriber,1956,1
8,NaN,Grand St & Havemeyer St,NaN,11165,-73.956981,60,2015-02-03 18:01:00+00,2015-02-03 18:02:00+00,471,11104,40.712868,471,Grand St & Havemeyer St,40.712868,-73.956981,16340,Subscriber,1980,1
9,NaN,W 38 St & 8 Ave,NaN,21463,-73.991382,60,2015-02-04 22:38:00+00,2015-02-04 22:39:00+00,523,21407,40.754666,523,W 38 St & 8 Ave,40.754666,-73.991382,16148,Subscriber,1980,1

In [6]:
pd.read_csv(StringIO.StringIO(queryCartoDB(task1_4)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,Greenwich Ave & 8 Ave,NaN,41403,-74.002638,10757,2015-02-07 12:17:00+00,2015-02-07 15:16:00+00,284,41392,40.739017,173,Broadway & W 49 St,40.760647,-73.984427,15082,Subscriber,1973,1
1,NaN,W 29 St & 9 Ave,NaN,10975,-73.998393,10660,2015-02-03 17:42:00+00,2015-02-03 20:40:00+00,512,10912,40.750073,435,W 21 St & 6 Ave,40.741740,-73.994156,16099,Subscriber,1950,1
2,NaN,Washington St & Gansevoort St,NaN,40237,-74.008119,10174,2015-02-07 09:31:00+00,2015-02-07 12:20:00+00,405,40221,40.739323,405,Washington St & Gansevoort St,40.739323,-74.008119,21323,Subscriber,1983,1
3,NaN,Centre St & Worth St,NaN,7538,-74.002345,9969,2015-02-02 18:22:00+00,2015-02-02 21:08:00+00,386,7472,40.714948,264,Maiden Ln & Pearl St,40.707065,-74.007319,19921,Subscriber,1987,2
4,NaN,Broadway & W 55 St,NaN,9756,-73.981923,9938,2015-02-03 14:10:00+00,2015-02-03 16:55:00+00,468,9696,40.765265,2023,E 55 St & Lexington Ave,40.759681,-73.970314,19070,Subscriber,1970,1
5,NaN,W 21 St & 6 Ave,NaN,15380,-73.994156,9807,2015-02-04 10:53:00+00,2015-02-04 13:36:00+00,435,15336,40.741740,435,W 21 St & 6 Ave,40.741740,-73.994156,18088,Subscriber,1985,1
6,NaN,Broadway & W 58 St,NaN,25241,-73.981693,9711,2015-02-05 11:12:00+00,2015-02-05 13:54:00+00,457,25203,40.766953,2021,W 45 St & 8 Ave,40.759291,-73.988597,14726,Subscriber,1962,1
7,NaN,Broadway & E 22 St,NaN,19952,-73.989551,9572,2015-02-04 19:09:00+00,2015-02-04 21:48:00+00,402,19897,40.740343,517,Pershing Square South,40.751581,-73.977910,14691,Subscriber,1966,2
8,NaN,Broadway & W 60 St,NaN,7139,-73.981918,9556,2015-02-02 13:25:00+00,2015-02-02 16:05:00+00,499,7073,40.769155,499,Broadway & W 60 St,40.769155,-73.981918,14802,Subscriber,1940,1
9,NaN,DeKalb Ave & Hudson Ave,NaN,11871,-73.981013,9373,2015-02-03 19:25:00+00,2015-02-03 22:01:00+00,324,11810,40.689888,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,15018,Subscriber,1968,1

In [7]:
# all unique start_station_id
task1_5 = '''
select distinct start_station_id
from citibike
order by start_station_id
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task1_5)), sep=',')

     start_station_id  Unnamed: 1
0                  72         NaN
1                  79         NaN
2                  82         NaN
3                  83         NaN
4                 116         NaN
5                 119         NaN
6                 120         NaN
7                 127         NaN
8                 128         NaN
9                 137         NaN
10                143         NaN
11                144         NaN
12                146         NaN
13                147         NaN
14                150         NaN
15                151         NaN
16                152         NaN
17                153         NaN
18                157         NaN
19                160         NaN
20                161         NaN
21                164         NaN
22                167         NaN
23                168         NaN
24                173         NaN
25                174         NaN
26                195         NaN
27                212         NaN
28                216         NaN
29                217         NaN
..                ...         ...
297               525         NaN
298               526         NaN
299               527         NaN
300               528         NaN
301               529         NaN
302               530         NaN
303               531         NaN
304               532         NaN
305               533         NaN
306               534         NaN
307               537         NaN
308               538         NaN
309               539         NaN
310               545         NaN
311               546         NaN
312              2000         NaN
313              2001         NaN
314              2002         NaN
315              2004         NaN
316              2005         NaN
317              2006         NaN
318              2008         NaN
319              2009         NaN
320              2010         NaN
321              2012         NaN
322              2017         NaN
323              2021         NaN
324              2022         NaN
325              2023         NaN
326              3002         NaN

[327 rows x 2 columns]

In [8]:
# aggregation statistics data 
task1_6 = '''
select count(start_station_id) as trip_num,
avg(tripduration) as avg_duration,
max(tripduration) as max_duration,
min(tripduration) as min_duration
from citibike
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task1_6)), sep=',')

   trip_num  avg_duration  max_duration  min_duration
0     46200    675.865823         43016            60

### Task 2  Working with date/time
#### Selecting trips started on Feb-02-2015 only 
#### Selecting trips started on the weekends
    - What are average trip duration during weekends? 
#### Can we do the same for weekday?

In [9]:
# select trips started on 2-2-2015
task2_1 = '''
select * from citibike
where starttime < '2015-02-03 00:00'
and starttime >= '2015-02-02 00:00'
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task2_1)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,5 Ave & E 29 St,NaN,7433,-73.986831,376,2015-02-02 17:44:00+00,2015-02-02 17:50:00+00,474,7367,40.745168,537,Lexington Ave & E 24 St,40.740259,-73.984092,18048,Subscriber,1977.0,1
1,NaN,Allen St & Hester St,NaN,7779,-73.991908,1217,2015-02-02 20:12:00+00,2015-02-02 20:32:00+00,361,7712,40.716059,461,E 20 St & 2 Ave,40.735877,-73.982050,19732,Customer,NaN,0
2,NaN,E 5 St & Avenue C,NaN,11,-73.979955,1312,2015-02-02 11:07:00+00,2015-02-02 11:29:00+00,393,6920,40.722992,476,E 31 St & 3 Ave,40.743943,-73.979661,17720,Subscriber,1955.0,1
3,NaN,9 Ave & W 16 St,NaN,627,-74.004432,444,2015-02-02 00:40:00+00,2015-02-02 00:48:00+00,463,6477,40.742065,489,10 Ave & W 28 St,40.750664,-74.001768,20233,Subscriber,1971.0,1
4,NaN,9 Ave & W 16 St,NaN,991,-74.004432,438,2015-02-02 00:40:00+00,2015-02-02 00:47:00+00,463,6478,40.742065,489,10 Ave & W 28 St,40.750664,-74.001768,20264,Subscriber,1981.0,2
5,NaN,W 33 St & 7 Ave,NaN,1037,-73.990931,498,2015-02-02 06:20:00+00,2015-02-02 06:28:00+00,492,6526,40.750200,493,W 45 St & 6 Ave,40.756800,-73.982912,16013,Subscriber,1962.0,2
6,NaN,W 27 St & 7 Ave,NaN,6510,-73.993915,199,2015-02-02 00:02:00+00,2015-02-02 00:05:00+00,442,6442,40.746647,489,10 Ave & W 28 St,40.750664,-74.001768,20684,Subscriber,1992.0,1
7,NaN,E 11 St & 1 Ave,NaN,6511,-73.984267,418,2015-02-02 00:03:00+00,2015-02-02 00:10:00+00,326,6443,40.729538,349,Rivington St & Ridge St,40.718502,-73.983299,16094,Subscriber,1964.0,2
8,NaN,Peck Slip & Front St,NaN,6512,-74.001670,276,2015-02-02 00:04:00+00,2015-02-02 00:09:00+00,279,6444,40.707873,415,Pearl St & Hanover Square,40.704718,-74.009260,17362,Subscriber,1974.0,1
9,NaN,E 16 St & 5 Ave,NaN,6513,-73.992390,420,2015-02-02 00:06:00+00,2015-02-02 00:13:00+00,496,6445,40.737262,237,E 11 St & 2 Ave,40.730473,-73.986724,15475,Subscriber,1992.0,2
10,NaN,W 41 St & 8 Ave,NaN,6514,-73.990026,304,2015-02-02 00:07:00+00,2015-02-02 00:12:00+00,477,6446,40.756405,450,W 49 St & 8 Ave,40.762272,-73.987882,16272,Subscriber,1968.0,1
11,NaN,Dean St & 4 Ave,NaN,6515,-73.978951,622,2015-02-02 00:08:00+00,2015-02-02 00:18:00+00,467,6447,40.683125,391,Clark St & Henry St,40.697601,-73.993446,16370,Subscriber,1979.0,1
12,NaN,9 Ave & W 18 St,NaN,6516,-74.003664,371,2015-02-02 00:09:00+00,2015-02-02 00:15:00+00,434,6448,40.743174,482,W 15 St & 7 Ave,40.739355,-73.999318,19437,Subscriber,1963.0,1
13,NaN,Reade St & Broadway,NaN,6517,-74.005628,477,2015-02-02 00:11:00+00,2015-02-02 00:19:00+00,330,6449,40.714505,2008,Little West St & 1 Pl,40.705693,-74.016777,21211,Subscriber,1982.0,1
14,NaN,8 Ave & W 31 St,NaN,6518,-73.994811,743,2015-02-02 00:12:00+00,2015-02-02 00:25:00+00,521,6450,40.750450,423,W 54 St & 9 Ave,40.765849,-73.986905,21417,Subscriber,1978.0,2
15,NaN,1 Ave & E 15 St,NaN,6519,-73.981656,599,2015-02-02 00:12:00+00,2015-02-02 00:22:00+00,504,6451,40.732219,453,W 22 St & 8 Ave,40.744751,-73.999154,15722,Subscriber,1956.0,1
16,NaN,Broadway & E 14 St,NaN,6520,-73.990741,345,2015-02-02 00:12:00+00,2015-02-02 00:18:00+00,285,6452,40.734546,236,St Marks Pl & 2 Ave,40.728419,-73.987140,18972,Subscriber,1962.0,1
17,NaN,E 2 St & Avenue B,NaN,6521,-73.983688,721,2015-02-02 00:13:00+00,2015-02-02 00:25:00+00,301,6453,40.722174,476,E 31 St & 3 Ave,40.743943,-73.979661,19628,Subscriber,1980.0,1
18,NaN,Peck Slip & Front St,NaN,6522,-74.001670,182,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,279,6454,40.707873,376,John St & William St,40.708621,-74.007222,15169,Subscriber,1978.0,1
19,NaN,Columbia St & Rivington St,NaN,6523,-73.980166,154,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,342,6455,40.717400,411,E 6 St & Avenue D,40.722281,-73.976687,17533,Subscriber,1997.0,1
20,NaN,W 20 St & 8 Ave,NaN,6524,-74.000040,435,2015-02-02 00:14:00+00,2015-02-02 00:21:00+00,470,6456,40.743453,491,E 24 St & Park Ave S,40.740964,-73.986022,19761,Subscriber,1983.0,1
21,NaN,St Marks Pl & 2 Ave,NaN,6525,-73.987140,310,2015-02-02 00:15:00+00,2015-02-02 00:20:00+00,236,6457,40.728419,393,E 5 St & Avenue C,40.722992,-73.979955,17267,Subscriber,1993.0,1
22,NaN,W 20 St & 8 Ave,NaN,6526,-74.000040,1274,2015-02-02 00:16:00+00,2015-02-02 00:37:00+00,470,6458,40.743453,470,W 20 St & 8 Ave,40.743453,-74.000040,18691,Subscriber,1964.0,1
23,NaN,W 37 St & 5 Ave,NaN,6527,-73.983390,642,2015-02-02 00:18:00+00,2015-02-02 00:29:00+00,485,6459,40.750380,174,E 25 St & 1 Ave,40.738177,-73.977387,17106,Subscriber,1977.0,1
24,NaN,W 13 St & 6 Ave,NaN,6528,-73.997044,256,2015-02-02 00:18:00+00,2015-02-02 00:22:00+00,345,6460,40.736494,483,E 12 St & 3 Ave,40.732233,-73.988900,20009,Subscriber,1973.0,1
25,NaN,10 Ave & W 28 St,NaN,6529,-74.001768,334,2015-02-02 00:19:00+00,2015-02-02 00:25:00+00,489,6461,40.750664,442,W 27 St & 7 Ave,40.746647,-73.993915,18777,Subscriber,1979.0,1
26,NaN,E 25 St & 2 Ave,NaN,6530,-73.979738,90,2015-02-02 00:19:00+00,2015-02-02 00:20:00+00,507,6462,40.739126,174,E 25 St & 1 Ave,40.738177,-73.977387,15357,Subscriber,1989.0,1
27,NaN,W 4 St & 7 Ave S,NaN,6531,-74.002939,203,2015-02-02 00:20:00+00,2015-02-02 00:23:00+00,380,6463,40.734011,405,Washington St & Gansevoort St,40.739323,-74.008119,18487,Subscriber,1983.0,1
28,NaN,W 20 St & 7 Ave,NaN,6532,-73.997262,649,2015-02-02 00:22:00+00,2015-02-02 00:32:00+00,334,6464,40.742388,439,E 4 St & 2 Ave,40.726281,-73.989780,20863,Subscriber,1981.0,1
29,NaN,W 46 St & 11 Ave,NaN,6533,-73.996674,319,2015-02-02 00:23:00+00,2015-02-02 00:29:00+00,508,6465,40.763414,448,W 37 St & 10 Ave,40.756604,-73.997901,16539,Subscriber,1970.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,NaN,Allen St & E Houston St,NaN,7938,-73.989111,722,2015-02-02 23:08:00+00,2015-02-02 23:20:00+00,312,7871,40.722055,380,W 4 St & 7 Ave S,40.734011,-74.002939,20572,Subscriber,1985.0,1
1430,NaN,Broadway & W 29 St,NaN,7939,-73.988557,274,2015-02-02 23:08:00+00,2015-02-02 23:12:00+00,486,7872,40.746201,491,E 24 St & Park Ave S,40.740964,-73.986022,20338,Subscriber,1981.0,1
1431,NaN,W 56 St & 6 Ave,NaN,7940,-73.977225,951,2015-02-02 23:11:00+00,2015-02-02 23:27:00+00,352,7873,40.763406,515,W 43 St & 10 Ave,40.760094,-73.994618,15826,Subscriber,1978.0,1
1432,NaN,10 Ave & W 28 St,NaN,7941,-74.001768,276,2015-02-02 23:16:00+00,2015-02-02 23:20:00+00,489,7874,40.750664,521,8 Ave & W 31 St,40.750450,-73.994811,18325,Subscriber,1990.0,1
1433,NaN,W 26 St & 8 Ave,NaN,7942,-73.997236,426,2015-02-02 23:17:00+00,2015-02-02 23:24:00+00,494,7875,40.747348,434,9 Ave & W 18 St,40.743174,-74.003664,16654,Subscriber,1977.0,1
1434,NaN,Broadway & E 22 St,NaN,7943,-73.989551,578,2015-02-02 23:19:00+00,2015-02-02 23:28:00+00,402,7876,40.740343,229,Great Jones St,40.727434,-73.993790,20902,Subscriber,1966.0,1
1435,NaN,E 47 St & 2 Ave,NaN,7944,-73.970325,2621,2015-02-02 23:22:00+00,2015-02-03 00:06:00+00,164,7877,40.753231,2017,E 43 St & 2 Ave,40.750224,-73.971214,20796,Subscriber,1954.0,1
1436,NaN,Broadway & W 32 St,NaN,7945,-73.988084,621,2015-02-02 23:22:00+00,2015-02-02 23:32:00+00,498,7878,40.748549,449,W 52 St & 9 Ave,40.764618,-73.987895,20160,Subscriber,1989.0,1
1437,NaN,8 Ave & W 31 St,NaN,7946,-73.994811,323,2015-02-02 23:23:00+00,2015-02-02 23:29:00+00,521,7879,40.750450,477,W 41 St & 8 Ave,40.756405,-73.990026,17392,Subscriber,1974.0,1
1438,NaN,9 Ave & W 18 St,NaN,7947,-74.003664,393,2015-02-02 23:24:00+00,2015-02-02 23:31:00+00,434,7880,40.743174,482,W 15 St & 7 Ave,40.739355,-73.999318,17263,Subscriber,1963.0,1
1439,NaN,LaGuardia Pl & W 3 St,NaN,7948,-73.998102,597,2015-02-02 23:25:00+00,2015-02-02 23:35:00+00,161,7881,40.729170,497,E 17 St & Broadway,40.737050,-73.990093,19858,Subscriber,1955.0,1
1440,NaN,W 26 St & 8 Ave,NaN,7949,-73.997236,244,2015-02-02 23:25:00+00,2015-02-02 23:30:00+00,494,7882,40.747348,462,W 22 St & 10 Ave,40.746920,-74.004519,20319,Subscriber,1979.0,1
1441,NaN,Cliff St & Fulton St,NaN,7950,-74.005301,1023,2015-02-02 23:26:00+00,2015-02-02 23:43:00+00,306,7883,40.708235,127,Barrow St & Hudson St,40.731724,-74.006744,21600,Subscriber,1977.0,1
1442,NaN,Rivington St & Ridge St,NaN,7951,-73.983299,419,2015-02-02 23:31:00+00,2015-02-02 23:38:00+00,349,7884,40.718502,473,Rivington St & Chrystie St,40.721101,-73.991925,18791,Subscriber,1986.0,1
1443,NaN,W 49 St & 8 Ave,NaN,7952,-73.987882,1429,2015-02-02 23:32:00+00,2015-02-02 23:55:00+00,450,7885,40.762272,358,Christopher St & Greenwich St,40.732916,-74.007114,17730,Subscriber,1966.0,1
1444,NaN,Pershing Square North,NaN,7953,-73.977706,676,2015-02-02 23:32:00+00,2015-02-02 23:44:00+00,519,7886,40.751873,477,W 41 St & 8 Ave,40.756405,-73.990026,18147,Subscriber,1980.0,1
1445,NaN,E 30 St & Park Ave S,NaN,7954,-73.983035,879,2015-02-02 23:33:00+00,2015-02-02 23:48:00+00,546,7887,40.744449,489,10 Ave & W 28 St,40.750664,-74.001768,20249,Subscriber,1959.0,1
1446,NaN,Sullivan St & Washington Sq,NaN,7955,-73.999061,593,2015-02-02 23:35:00+00,2015-02-02 23:45:00+00,336,7888,40.730477,432,E 7 St & Avenue A,40.726218,-73.983799,18078,Subscriber,1988.0,1
1447,NaN,W 42 St & 8 Ave,NaN,7956,-73.990985,839,2015-02-02 23:36:00+00,2015-02-02 23:50:00+00,529,7889,40.757570,164,E 47 St & 2 Ave,40.753231,-73.970325,16808,Subscriber,1983.0,1
1448,NaN,Broadway & E 22 St,NaN,7957,-73.989551,560,2015-02-02 23:37:00+00,2015-02-02 23:46:00+00,402,7890,40.740343,368,Carmine St & 6 Ave,40.730386,-74.002150,21355,Subscriber,1986.0,1
1449,NaN,1 Ave & E 15 St,NaN,7958,-73.981656,165,2015-02-02 23:37:00+00,2015-02-02 23:40:00+00,504,7891,40.732219,511,E 14 St & Avenue B,40.729387,-73.977724,15359,Subscriber,1994.0,1
1450,NaN,6 Ave & W 33 St,NaN,7959,-73.988484,813,2015-02-02 23:42:00+00,2015-02-02 23:56:00+00,505,7892,40.749013,489,10 Ave & W 28 St,40.750664,-74.001768,18250,Subscriber,1982.0,2
1451,NaN,9 Ave & W 22 St,NaN,7960,-74.001971,764,2015-02-02 23:42:00+00,2015-02-02 23:55:00+00,509,7893,40.745497,507,E 25 St & 2 Ave,40.739126,-73.979738,16969,Subscriber,1987.0,1
1452,NaN,E 16 St & 5 Ave,NaN,7961,-73.992390,2111,2015-02-02 23:43:00+00,2015-02-03 00:18:00+00,496,7894,40.737262,397,Fulton St & Clermont Ave,40.684157,-73.969223,18825,Subscriber,1979.0,1
1453,NaN,E 10 St & 5 Ave,NaN,7962,-73.995101,518,2015-02-02 23:43:00+00,2015-02-02 23:52:00+00,280,7895,40.733320,439,E 4 St & 2 Ave,40.726281,-73.989780,19000,Subscriber,1983.0,1
1454,NaN,W 44 St & 5 Ave,NaN,7963,-73.980144,371,2015-02-02 23:45:00+00,2015-02-02 23:52:00+00,484,7896,40.755003,440,E 45 St & 3 Ave,40.752554,-73.972826,20723,Subscriber,1977.0,1
1455,NaN,Spruce St & Nassau St,NaN,7964,-74.005524,188,2015-02-02 23:47:00+00,2015-02-02 23:50:00+00,224,7897,40.711464,417,Barclay St & Church St,40.712912,-74.010202,16528,Subscriber,1988.0,1
1456,NaN,W 13 St & 6 Ave,NaN,7965,-73.997044,689,2015-02-02 23:50:00+00,2015-02-03 00:02:00+00,345,7898,40.736494,394,E 9 St & Avenue C,40.725213,-73.977688,16541,Subscriber,1988.0,1
1457,NaN,W 22 St & 8 Ave,NaN,7966,-73.999154,634,2015-02-02 23:55:00+00,2015-02-03 00:05:00+00,453,7899,40.744751,537,Lexington Ave & E 24 St,40.740259,-73.984092,14878,Subscriber,1961.0,1
1458,NaN,Broadway & E 14 St,NaN,7967,-73.990741,733,2015-02-02 23:58:00+00,2015-02-03 00:10:00+00,285,7900,40.734546,302,Avenue D & E 3 St,40.720828,-73.977932,16326,Subscriber,1976.0,2

In [10]:
# trip on weekends
task2_2 = '''
select * from citibike
where extract(dow from starttime) in (0,6)
'''

pd.read_csv(StringIO.StringIO(queryCartoDB(task2_2)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 20 St & Park Ave,NaN,175,-73.987520,1090,2015-02-01 01:23:00+00,2015-02-01 01:42:00+00,503,107,40.738274,229,Great Jones St,40.727434,-73.993790,19718,Subscriber,1961.0,1
1,NaN,W 43 St & 10 Ave,NaN,1159,-73.994618,682,2015-02-01 10:55:00+00,2015-02-01 11:07:00+00,515,1088,40.760094,490,8 Ave & W 33 St,40.751551,-73.993934,21501,Subscriber,1981.0,1
2,NaN,E 6 St & Avenue B,NaN,2827,-73.981854,751,2015-02-01 13:59:00+00,2015-02-01 14:11:00+00,317,2759,40.724537,466,W 25 St & 6 Ave,40.743954,-73.991449,14788,Subscriber,1990.0,1
3,NaN,E 12 St & 3 Ave,NaN,4961,-73.988900,272,2015-02-01 17:28:00+00,2015-02-01 17:32:00+00,483,4893,40.732233,345,W 13 St & 6 Ave,40.736494,-73.997044,16219,Subscriber,1961.0,1
4,NaN,W 41 St & 8 Ave,NaN,6156,-73.990026,240,2015-02-01 21:36:00+00,2015-02-01 21:40:00+00,477,6090,40.756405,490,8 Ave & W 33 St,40.751551,-73.993934,18266,Customer,NaN,0
5,NaN,E 20 St & 2 Ave,NaN,39894,-73.982050,296,2015-02-07 08:13:00+00,2015-02-07 08:18:00+00,461,39876,40.735877,435,W 21 St & 6 Ave,40.741740,-73.994156,17278,Subscriber,1987.0,1
6,NaN,Broadway & W 60 St,NaN,41512,-73.981918,600,2015-02-07 12:35:00+00,2015-02-07 12:45:00+00,499,41501,40.769155,523,W 38 St & 8 Ave,40.754666,-73.991382,15224,Subscriber,1959.0,1
7,NaN,E 6 St & Avenue D,NaN,41595,-73.976687,1203,2015-02-07 12:47:00+00,2015-02-07 13:07:00+00,411,41585,40.722281,428,E 3 St & 1 Ave,40.724677,-73.987834,21461,Subscriber,1968.0,1
8,NaN,Great Jones St,NaN,41806,-73.993790,520,2015-02-07 13:16:00+00,2015-02-07 13:25:00+00,229,41796,40.727434,168,W 18 St & 6 Ave,40.739713,-73.994564,14621,Subscriber,1964.0,1
9,NaN,W 13 St & 6 Ave,NaN,42316,-73.997044,487,2015-02-07 14:18:00+00,2015-02-07 14:26:00+00,345,42307,40.736494,509,9 Ave & W 22 St,40.745497,-74.001971,21362,Subscriber,1962.0,1
10,NaN,W 34 St & 11 Ave,NaN,42532,-74.002116,984,2015-02-07 14:42:00+00,2015-02-07 14:59:00+00,525,42523,40.755942,388,W 26 St & 10 Ave,40.749718,-74.002950,14549,Customer,NaN,0
11,NaN,W 41 St & 8 Ave,NaN,42915,-73.990026,621,2015-02-07 15:23:00+00,2015-02-07 15:33:00+00,477,42906,40.756405,509,9 Ave & W 22 St,40.745497,-74.001971,20216,Subscriber,1980.0,1
12,NaN,E 25 St & 1 Ave,NaN,44448,-73.977387,397,2015-02-07 18:03:00+00,2015-02-07 18:10:00+00,174,44443,40.738177,528,2 Ave & E 31 St,40.742909,-73.977061,15948,Subscriber,1991.0,1
13,NaN,E 15 St & 3 Ave,NaN,44744,-73.986923,352,2015-02-07 18:39:00+00,2015-02-07 18:45:00+00,297,44739,40.734232,507,E 25 St & 2 Ave,40.739126,-73.979738,15367,Subscriber,1978.0,1
14,NaN,W 33 St & 7 Ave,NaN,44834,-73.990931,1063,2015-02-07 18:53:00+00,2015-02-07 19:11:00+00,492,44829,40.750200,174,E 25 St & 1 Ave,40.738177,-73.977387,20702,Subscriber,1989.0,2
15,NaN,E 33 St & 2 Ave,NaN,45301,-73.976056,483,2015-02-07 19:59:00+00,2015-02-07 20:07:00+00,527,45297,40.744023,325,E 19 St & 3 Ave,40.736245,-73.984738,20296,Subscriber,1984.0,1
16,NaN,8 Ave & W 33 St,NaN,0,-73.993934,447,2015-02-01 01:11:00+00,2015-02-01 01:19:00+00,490,93,40.751551,479,9 Ave & W 45 St,40.760193,-73.991255,15185,Subscriber,1983.0,2
17,NaN,Broadway & W 39 St,NaN,1,-73.987216,277,2015-02-01 10:26:00+00,2015-02-01 10:30:00+00,533,847,40.752996,515,W 43 St & 10 Ave,40.760094,-73.994618,16452,Subscriber,1978.0,1
18,NaN,W 18 St & 6 Ave,NaN,2,-73.994564,526,2015-02-01 11:07:00+00,2015-02-01 11:16:00+00,168,1180,40.739713,521,8 Ave & W 31 St,40.750450,-73.994811,16741,Subscriber,1984.0,1
19,NaN,Broadway & E 22 St,NaN,3,-73.989551,502,2015-02-01 12:37:00+00,2015-02-01 12:46:00+00,402,1971,40.740343,459,W 20 St & 11 Ave,40.746745,-74.007756,16951,Subscriber,1983.0,1
20,NaN,W 46 St & 11 Ave,NaN,4,-73.996674,943,2015-02-01 12:46:00+00,2015-02-01 13:02:00+00,508,2053,40.763414,521,8 Ave & W 31 St,40.750450,-73.994811,16897,Subscriber,1966.0,2
21,NaN,Great Jones St,NaN,5,-73.993790,563,2015-02-01 12:54:00+00,2015-02-01 13:03:00+00,229,2138,40.727434,346,Bank St & Hudson St,40.736529,-74.006180,16722,Subscriber,1984.0,1
22,NaN,Carmine St & 6 Ave,NaN,6,-74.002150,519,2015-02-01 15:21:00+00,2015-02-01 15:29:00+00,368,3591,40.730386,503,E 20 St & Park Ave,40.738274,-73.987520,15196,Subscriber,1968.0,1
23,NaN,E 12 St & 3 Ave,NaN,7,-73.988900,500,2015-02-01 17:38:00+00,2015-02-01 17:47:00+00,483,4983,40.732233,435,W 21 St & 6 Ave,40.741740,-73.994156,19409,Customer,NaN,0
24,NaN,W 20 St & 7 Ave,NaN,8,-73.997262,374,2015-02-01 17:48:00+00,2015-02-01 17:55:00+00,334,5067,40.742388,497,E 17 St & Broadway,40.737050,-73.990093,21456,Customer,NaN,0
25,NaN,E 11 St & 1 Ave,NaN,9,-73.984267,420,2015-02-01 19:26:00+00,2015-02-01 19:33:00+00,326,5748,40.729538,527,E 33 St & 2 Ave,40.744023,-73.976056,14878,Subscriber,1988.0,1
26,NaN,W 24 St & 7 Ave,NaN,10,-73.995299,315,2015-02-01 21:34:00+00,2015-02-01 21:39:00+00,446,6086,40.744876,521,8 Ave & W 31 St,40.750450,-73.994811,16042,Subscriber,1956.0,1
27,NaN,W 33 St & 7 Ave,NaN,38,-73.990931,302,2015-02-07 06:33:00+00,2015-02-07 06:38:00+00,492,39722,40.750200,493,W 45 St & 6 Ave,40.756800,-73.982912,18472,Subscriber,1972.0,1
28,NaN,W 17 St & 8 Ave,NaN,49,-74.001497,424,2015-02-07 00:00:00+00,2015-02-07 00:07:00+00,116,39412,40.741776,489,10 Ave & W 28 St,40.750664,-74.001768,19071,Subscriber,1963.0,1
29,NaN,E 15 St & 3 Ave,NaN,50,-73.986923,439,2015-02-07 03:43:00+00,2015-02-07 03:50:00+00,297,39651,40.734232,527,E 33 St & 2 Ave,40.744023,-73.976056,21448,Customer,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13201,NaN,Washington Pl & Broadway,NaN,46170,-73.994046,812,2015-02-07 23:51:00+00,2015-02-08 00:05:00+00,335,46171,40.729039,435,W 21 St & 6 Ave,40.741740,-73.994156,15733,Subscriber,1988.0,1
13202,NaN,Allen St & Hester St,NaN,46171,-73.991908,647,2015-02-07 23:51:00+00,2015-02-08 00:02:00+00,361,46172,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,16931,Subscriber,1995.0,1
13203,NaN,Warren St & Church St,NaN,46172,-74.009106,563,2015-02-07 23:51:00+00,2015-02-08 00:00:00+00,152,46173,40.714740,401,Allen St & Rivington St,40.720196,-73.989978,17202,Subscriber,1987.0,1
13204,NaN,E 12 St & 3 Ave,NaN,46173,-73.988900,470,2015-02-07 23:51:00+00,2015-02-07 23:59:00+00,483,46174,40.732233,439,E 4 St & 2 Ave,40.726281,-73.989780,20314,Subscriber,1989.0,2
13205,NaN,Dean St & 4 Ave,NaN,46174,-73.978951,299,2015-02-07 23:51:00+00,2015-02-07 23:56:00+00,467,46175,40.683125,395,Bond St & Schermerhorn St,40.688070,-73.984106,21531,Subscriber,1989.0,1
13206,NaN,Allen St & Hester St,NaN,46175,-73.991908,629,2015-02-07 23:52:00+00,2015-02-08 00:02:00+00,361,46176,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,21491,Subscriber,1968.0,1
13207,NaN,Broadway & E 22 St,NaN,46176,-73.989551,499,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,402,46177,40.740343,380,W 4 St & 7 Ave S,40.734011,-74.002939,15367,Subscriber,1990.0,1
13208,NaN,Washington Pl & 6 Ave,NaN,46177,-74.000264,474,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,369,46178,40.732241,368,Carmine St & 6 Ave,40.730386,-74.002150,18978,Subscriber,1973.0,2
13209,NaN,E 31 St & 3 Ave,NaN,46178,-73.979661,345,2015-02-07 23:52:00+00,2015-02-07 23:58:00+00,476,46179,40.743943,504,1 Ave & E 15 St,40.732219,-73.981656,19507,Subscriber,1980.0,1
13210,NaN,Broadway & W 60 St,NaN,46179,-73.981918,829,2015-02-07 23:53:00+00,2015-02-08 00:07:00+00,499,46180,40.769155,160,E 37 St & Lexington Ave,40.748238,-73.978311,16936,Subscriber,1980.0,1
13211,NaN,Carmine St & 6 Ave,NaN,46180,-74.002150,776,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,368,46181,40.730386,531,Forsyth St & Broome St,40.718939,-73.992663,18689,Subscriber,1982.0,1
13212,NaN,W 52 St & 5 Ave,NaN,46181,-73.976485,697,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,520,46182,40.759923,478,11 Ave & W 41 St,40.760301,-73.998842,15781,Subscriber,1972.0,1
13213,NaN,Dean St & 4 Ave,NaN,46182,-73.978951,1703,2015-02-07 23:54:00+00,2015-02-08 00:23:00+00,467,46183,40.683125,471,Grand St & Havemeyer St,40.712868,-73.956981,15081,Subscriber,1988.0,1
13214,NaN,9 Ave & W 45 St,NaN,46183,-73.991255,922,2015-02-07 23:54:00+00,2015-02-08 00:10:00+00,479,46184,40.760193,247,Perry St & Bleecker St,40.735354,-74.004831,21672,Subscriber,1983.0,1
13215,NaN,Broadway & W 58 St,NaN,46184,-73.981693,849,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46185,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,16336,Subscriber,1970.0,1
13216,NaN,Broadway & W 58 St,NaN,46185,-73.981693,826,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46186,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,21609,Subscriber,1973.0,1
13217,NaN,Watts St & Greenwich St,NaN,46186,-74.009660,473,2015-02-07 23:54:00+00,2015-02-08 00:02:00+00,328,46187,40.724055,3002,South End Ave & Liberty St,40.711512,-74.015756,19470,Subscriber,1964.0,1
13218,NaN,W 51 St & 6 Ave,NaN,46187,-73.980420,332,2015-02-07 23:54:00+00,2015-02-07 23:59:00+00,510,46188,40.760660,450,W 49 St & 8 Ave,40.762272,-73.987882,18167,Subscriber,1960.0,1
13219,NaN,University Pl & E 14 St,NaN,46188,-73.992005,456,2015-02-07 23:55:00+00,2015-02-08 00:03:00+00,382,46189,40.734927,404,9 Ave & W 14 St,40.740583,-74.005509,15929,Subscriber,1987.0,1
13220,NaN,W 11 St & 6 Ave,NaN,46189,-73.998004,327,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,254,46190,40.735324,466,W 25 St & 6 Ave,40.743954,-73.991449,17541,Subscriber,1983.0,1
13221,NaN,W 17 St & 8 Ave,NaN,46190,-74.001497,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,46191,40.741776,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983.0,2
13222,NaN,W 47 St & 10 Ave,NaN,46191,-73.993012,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,46192,40.762699,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984.0,1
13223,NaN,Warren St & Church St,NaN,46192,-74.009106,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,46193,40.714740,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959.0,1
13224,NaN,E 20 St & 2 Ave,NaN,46193,-73.982050,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,46194,40.735877,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974.0,1
13225,NaN,1 Ave & E 44 St,NaN,46194,-73.969053,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,46195,40.750020,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960.0,2
13226,NaN,W 20 St & 8 Ave,NaN,46195,-74.000040,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,46196,40.743453,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953.0,1
13227,NaN,5 Ave & E 29 St,NaN,46196,-73.986831,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,46197,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986.0,2
13228,NaN,5 Ave & E 29 St,NaN,46197,-73.986831,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,46198,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986.0,1
13229,NaN,Carmine St & 6 Ave,NaN,46198,-74.002150,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,46199,40.730386,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983.0,2
13230,NaN,E 4 St & 2 Ave,NaN,46199,-73.989780,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,46200,40.726281,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965.0,2

In [11]:
# average duration
task2_3 = '''
select avg(tripduration) as avg_duration from citibike
where extract(dow from starttime) in (0,6)
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task2_3)), sep=',')

   avg_duration  Unnamed: 1
0    662.942181         NaN

In [12]:
# weekdays 
task2_4 = '''
select * from citibike
where extract(dow from starttime) not in (0,6)
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task2_4)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,5 Ave & E 29 St,NaN,7433,-73.986831,376,2015-02-02 17:44:00+00,2015-02-02 17:50:00+00,474,7367,40.745168,537,Lexington Ave & E 24 St,40.740259,-73.984092,18048,Subscriber,1977.0,1
1,NaN,Allen St & Hester St,NaN,7779,-73.991908,1217,2015-02-02 20:12:00+00,2015-02-02 20:32:00+00,361,7712,40.716059,461,E 20 St & 2 Ave,40.735877,-73.982050,19732,Customer,NaN,0
2,NaN,E 39 St & 3 Ave,NaN,8327,-73.976049,441,2015-02-03 08:02:00+00,2015-02-03 08:10:00+00,167,8263,40.748901,526,E 33 St & 5 Ave,40.747659,-73.984907,21518,Subscriber,1975.0,1
3,NaN,10 Ave & W 28 St,NaN,9435,-74.001768,1475,2015-02-03 12:31:00+00,2015-02-03 12:56:00+00,489,9375,40.750664,455,1 Ave & E 44 St,40.750020,-73.969053,19863,Subscriber,1984.0,2
4,NaN,E 2 St & 2 Ave,NaN,10472,-73.990697,420,2015-02-03 16:45:00+00,2015-02-03 16:52:00+00,403,10411,40.725029,297,E 15 St & 3 Ave,40.734232,-73.986923,19257,Subscriber,1984.0,1
5,NaN,1 Ave & E 44 St,NaN,10931,-73.969053,876,2015-02-03 17:37:00+00,2015-02-03 17:52:00+00,455,10867,40.750020,477,W 41 St & 8 Ave,40.756405,-73.990026,17392,Subscriber,1977.0,1
6,NaN,W 45 St & 6 Ave,NaN,11361,-73.982912,640,2015-02-03 18:21:00+00,2015-02-03 18:32:00+00,493,11300,40.756800,440,E 45 St & 3 Ave,40.752554,-73.972826,21433,Subscriber,1981.0,1
7,NaN,W 18 St & 6 Ave,NaN,12173,-73.994564,571,2015-02-03 20:26:00+00,2015-02-03 20:35:00+00,168,12114,40.739713,494,W 26 St & 8 Ave,40.747348,-73.997236,19493,Subscriber,1964.0,1
8,NaN,E 58 St & 3 Ave,NaN,12211,-73.967245,821,2015-02-03 20:37:00+00,2015-02-03 20:50:00+00,305,12152,40.760958,515,W 43 St & 10 Ave,40.760094,-73.994618,16564,Subscriber,1983.0,1
9,NaN,E 33 St & 5 Ave,NaN,12560,-73.984907,376,2015-02-03 22:20:00+00,2015-02-03 22:26:00+00,526,12500,40.747659,507,E 25 St & 2 Ave,40.739126,-73.979738,19721,Subscriber,1991.0,1
10,NaN,W 31 St & 7 Ave,NaN,13239,-73.991600,770,2015-02-04 07:21:00+00,2015-02-04 07:34:00+00,379,13183,40.749156,461,E 20 St & 2 Ave,40.735877,-73.982050,15184,Subscriber,1987.0,2
11,NaN,5 Ave & E 29 St,NaN,13365,-73.986831,319,2015-02-04 07:35:00+00,2015-02-04 07:40:00+00,474,13312,40.745168,476,E 31 St & 3 Ave,40.743943,-73.979661,16067,Subscriber,1991.0,1
12,NaN,E 39 St & 2 Ave,NaN,13750,-73.973442,358,2015-02-04 08:11:00+00,2015-02-04 08:17:00+00,518,13702,40.747804,537,Lexington Ave & E 24 St,40.740259,-73.984092,19181,Subscriber,1991.0,1
13,NaN,10 Ave & W 28 St,NaN,14218,-74.001768,338,2015-02-04 08:45:00+00,2015-02-04 08:50:00+00,489,14172,40.750664,494,W 26 St & 8 Ave,40.747348,-73.997236,18840,Subscriber,1992.0,2
14,NaN,W 42 St & 8 Ave,NaN,14431,-73.990985,575,2015-02-04 08:59:00+00,2015-02-04 09:08:00+00,529,14384,40.757570,442,W 27 St & 7 Ave,40.746647,-73.993915,15151,Subscriber,1956.0,1
15,NaN,E 27 St & 1 Ave,NaN,15157,-73.976806,451,2015-02-04 10:10:00+00,2015-02-04 10:17:00+00,2012,15113,40.739445,518,E 39 St & 2 Ave,40.747804,-73.973442,20338,Subscriber,1990.0,2
16,NaN,Great Jones St,NaN,15669,-73.993790,548,2015-02-04 11:51:00+00,2015-02-04 12:00:00+00,229,15625,40.727434,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,15482,Subscriber,1962.0,1
17,NaN,W 49 St & 8 Ave,NaN,16526,-73.987882,404,2015-02-04 14:08:00+00,2015-02-04 14:14:00+00,450,16481,40.762272,520,W 52 St & 5 Ave,40.759923,-73.976485,17488,Subscriber,1965.0,2
18,NaN,Broadway & W 24 St,NaN,16572,-73.989151,357,2015-02-04 14:15:00+00,2015-02-04 14:21:00+00,444,16527,40.742354,475,E 16 St & Irving Pl,40.735243,-73.987586,17453,Subscriber,1975.0,1
19,NaN,E 40 St & 5 Ave,NaN,18931,-73.981632,330,2015-02-04 18:02:00+00,2015-02-04 18:08:00+00,153,18880,40.752062,518,E 39 St & 2 Ave,40.747804,-73.973442,18973,Subscriber,1980.0,1
20,NaN,E 16 St & 5 Ave,NaN,19229,-73.992390,606,2015-02-04 18:19:00+00,2015-02-04 18:29:00+00,496,19177,40.737262,379,W 31 St & 7 Ave,40.749156,-73.991600,18362,Subscriber,1981.0,1
21,NaN,Broadway & W 36 St,NaN,20481,-73.987654,1001,2015-02-04 19:59:00+00,2015-02-04 20:15:00+00,267,20425,40.750977,504,1 Ave & E 15 St,40.732219,-73.981656,19935,Subscriber,1985.0,2
22,NaN,8 Ave & W 31 St,NaN,21285,-73.994811,1618,2015-02-04 21:58:00+00,2015-02-04 22:25:00+00,521,21228,40.750450,483,E 12 St & 3 Ave,40.732233,-73.988900,14660,Subscriber,1976.0,1
23,NaN,W 45 St & 6 Ave,NaN,23338,-73.982912,876,2015-02-05 08:29:00+00,2015-02-05 08:43:00+00,493,23298,40.756800,454,E 51 St & 1 Ave,40.754557,-73.965930,16891,Subscriber,1964.0,1
24,NaN,FDR Drive & E 35 St,NaN,23392,-73.971212,506,2015-02-05 08:32:00+00,2015-02-05 08:40:00+00,501,23353,40.744219,164,E 47 St & 2 Ave,40.753231,-73.970325,18208,Subscriber,1978.0,1
25,NaN,6 Ave & W 33 St,NaN,23425,-73.988484,683,2015-02-05 08:34:00+00,2015-02-05 08:46:00+00,505,23386,40.749013,167,E 39 St & 3 Ave,40.748901,-73.976049,18744,Subscriber,1968.0,1
26,NaN,E 27 St & 1 Ave,NaN,24193,-73.976806,522,2015-02-05 09:14:00+00,2015-02-05 09:23:00+00,2012,24155,40.739445,455,1 Ave & E 44 St,40.750020,-73.969053,21690,Subscriber,1977.0,2
27,NaN,12 Ave & W 40 St,NaN,24660,-74.002777,946,2015-02-05 09:51:00+00,2015-02-05 10:07:00+00,514,24623,40.760875,377,6 Ave & Canal St,40.722438,-74.005664,21248,Subscriber,1991.0,1
28,NaN,W 52 St & 9 Ave,NaN,24831,-73.987895,482,2015-02-05 10:10:00+00,2015-02-05 10:18:00+00,449,24794,40.764618,493,W 45 St & 6 Ave,40.756800,-73.982912,17842,Subscriber,1982.0,1
29,NaN,8 Ave & W 33 St,NaN,25003,-73.993934,592,2015-02-05 10:35:00+00,2015-02-05 10:45:00+00,490,24966,40.751551,484,W 44 St & 5 Ave,40.755003,-73.980144,16056,Subscriber,1962.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32939,NaN,W Broadway & Spring St,NaN,39406,-74.001547,834,2015-02-06 23:47:00+00,2015-02-07 00:01:00+00,348,39380,40.724910,504,1 Ave & E 15 St,40.732219,-73.981656,21171,Subscriber,1989.0,1
32940,NaN,Broadway & W 41 St,NaN,39407,-73.986580,321,2015-02-06 23:47:00+00,2015-02-06 23:52:00+00,465,39381,40.755136,492,W 33 St & 7 Ave,40.750200,-73.990931,18249,Subscriber,1957.0,1
32941,NaN,W 38 St & 8 Ave,NaN,39408,-73.991382,449,2015-02-06 23:48:00+00,2015-02-06 23:55:00+00,523,39382,40.754666,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,19146,Subscriber,1972.0,2
32942,NaN,9 Ave & W 22 St,NaN,39409,-74.001971,120,2015-02-06 23:48:00+00,2015-02-06 23:50:00+00,509,39383,40.745497,434,9 Ave & W 18 St,40.743174,-74.003664,15313,Subscriber,1984.0,1
32943,NaN,Lafayette Ave & Fort Greene Pl,NaN,39410,-73.976682,977,2015-02-06 23:49:00+00,2015-02-07 00:05:00+00,274,39384,40.686919,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,18469,Subscriber,1979.0,1
32944,NaN,Broadway & E 22 St,NaN,39411,-73.989551,501,2015-02-06 23:49:00+00,2015-02-06 23:57:00+00,402,39385,40.740343,403,E 2 St & 2 Ave,40.725029,-73.990697,18929,Subscriber,1966.0,1
32945,NaN,E 23 St & 1 Ave,NaN,39412,-73.978095,441,2015-02-06 23:50:00+00,2015-02-06 23:58:00+00,545,39386,40.736502,402,Broadway & E 22 St,40.740343,-73.989551,19009,Subscriber,1987.0,1
32946,NaN,E 19 St & 3 Ave,NaN,39413,-73.984738,388,2015-02-06 23:50:00+00,2015-02-06 23:57:00+00,325,39387,40.736245,438,St Marks Pl & 1 Ave,40.727791,-73.985649,17102,Subscriber,1984.0,1
32947,NaN,Broadway & E 22 St,NaN,39414,-73.989551,284,2015-02-06 23:51:00+00,2015-02-06 23:55:00+00,402,39389,40.740343,472,E 32 St & Park Ave,40.745712,-73.981948,15377,Subscriber,1989.0,1
32948,NaN,Greenwich Ave & Charles St,NaN,39415,-74.000271,271,2015-02-06 23:51:00+00,2015-02-06 23:56:00+00,383,39390,40.735238,435,W 21 St & 6 Ave,40.741740,-73.994156,17844,Subscriber,1984.0,1
32949,NaN,Allen St & Hester St,NaN,39416,-73.991908,572,2015-02-06 23:52:00+00,2015-02-07 00:01:00+00,361,39391,40.716059,438,St Marks Pl & 1 Ave,40.727791,-73.985649,21040,Subscriber,1987.0,1
32950,NaN,E 20 St & Park Ave,NaN,39417,-73.987520,498,2015-02-06 23:53:00+00,2015-02-07 00:01:00+00,503,39392,40.738274,380,W 4 St & 7 Ave S,40.734011,-74.002939,19480,Subscriber,1981.0,1
32951,NaN,DeKalb Ave & Hudson Ave,NaN,39418,-73.981013,425,2015-02-06 23:53:00+00,2015-02-07 00:00:00+00,324,39393,40.689888,258,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,21130,Subscriber,1978.0,1
32952,NaN,E 16 St & 5 Ave,NaN,39419,-73.992390,267,2015-02-06 23:53:00+00,2015-02-06 23:58:00+00,496,39394,40.737262,435,W 21 St & 6 Ave,40.741740,-73.994156,16934,Subscriber,1983.0,1
32953,NaN,W 44 St & 5 Ave,NaN,39420,-73.980144,165,2015-02-06 23:53:00+00,2015-02-06 23:56:00+00,484,39395,40.755003,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,20745,Subscriber,1968.0,1
32954,NaN,E 56 St & 3 Ave,NaN,39421,-73.967597,751,2015-02-06 23:54:00+00,2015-02-07 00:06:00+00,464,39396,40.759345,507,E 25 St & 2 Ave,40.739126,-73.979738,16811,Subscriber,1969.0,1
32955,NaN,E 2 St & Avenue B,NaN,39422,-73.983688,747,2015-02-06 23:54:00+00,2015-02-07 00:07:00+00,301,39397,40.722174,476,E 31 St & 3 Ave,40.743943,-73.979661,21259,Subscriber,1980.0,1
32956,NaN,E 4 St & 2 Ave,NaN,39423,-73.989780,511,2015-02-06 23:54:00+00,2015-02-07 00:03:00+00,439,39398,40.726281,375,Mercer St & Bleecker St,40.726795,-73.996951,15618,Subscriber,1993.0,1
32957,NaN,E 17 St & Broadway,NaN,39424,-73.990093,489,2015-02-06 23:54:00+00,2015-02-07 00:02:00+00,497,39399,40.737050,486,Broadway & W 29 St,40.746201,-73.988557,17370,Subscriber,1959.0,1
32958,NaN,1 Ave & E 15 St,NaN,39425,-73.981656,1183,2015-02-06 23:55:00+00,2015-02-07 00:14:00+00,504,39400,40.732219,295,Pike St & E Broadway,40.714067,-73.992939,19430,Subscriber,1984.0,1
32959,NaN,W 51 St & 6 Ave,NaN,39426,-73.980420,649,2015-02-06 23:55:00+00,2015-02-07 00:06:00+00,510,39401,40.760660,512,W 29 St & 9 Ave,40.750073,-73.998393,18303,Subscriber,1986.0,1
32960,NaN,W 11 St & 6 Ave,NaN,39427,-73.998004,377,2015-02-06 23:55:00+00,2015-02-07 00:01:00+00,254,39402,40.735324,453,W 22 St & 8 Ave,40.744751,-73.999154,20360,Subscriber,1990.0,1
32961,NaN,W 20 St & 8 Ave,NaN,39428,-74.000040,485,2015-02-06 23:56:00+00,2015-02-07 00:04:00+00,470,39403,40.743453,491,E 24 St & Park Ave S,40.740964,-73.986022,21564,Subscriber,1983.0,1
32962,NaN,W 15 St & 7 Ave,NaN,39429,-73.999318,298,2015-02-06 23:56:00+00,2015-02-07 00:01:00+00,482,39404,40.739355,368,Carmine St & 6 Ave,40.730386,-74.002150,21575,Subscriber,1983.0,1
32963,NaN,E 20 St & 2 Ave,NaN,39430,-73.982050,648,2015-02-06 23:57:00+00,2015-02-07 00:07:00+00,461,39405,40.735877,346,Bank St & Hudson St,40.736529,-74.006180,21014,Subscriber,1983.0,1
32964,NaN,MacDougal St & Washington Sq,NaN,39431,-73.998522,1261,2015-02-06 23:58:00+00,2015-02-07 00:19:00+00,252,39406,40.732264,450,W 49 St & 8 Ave,40.762272,-73.987882,17797,Subscriber,1989.0,2
32965,NaN,DeKalb Ave & Hudson Ave,NaN,39432,-73.981013,331,2015-02-06 23:58:00+00,2015-02-07 00:04:00+00,324,39407,40.689888,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,16975,Subscriber,1984.0,1
32966,NaN,W 13 St & 6 Ave,NaN,39433,-73.997044,629,2015-02-06 23:59:00+00,2015-02-07 00:10:00+00,345,39408,40.736494,236,St Marks Pl & 2 Ave,40.728419,-73.987140,19820,Subscriber,1982.0,1
32967,NaN,Elizabeth St & Hester St,NaN,39434,-73.996375,492,2015-02-06 23:59:00+00,2015-02-07 00:07:00+00,263,39409,40.717290,502,Henry St & Grand St,40.714215,-73.981346,19487,Subscriber,1966.0,1
32968,NaN,Allen St & Rivington St,NaN,39435,-73.989978,329,2015-02-06 23:59:00+00,2015-02-07 00:04:00+00,401,39410,40.720196,301,E 2 St & Avenue B,40.722174,-73.983688,15426,Subscriber,1987.0,1

In [13]:
# weekdays average

task2_5 = '''
select avg(tripduration) from citibike
where extract(dow from starttime) not in (0,6)

'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task2_5)), sep=',')

          avg  Unnamed: 1
0  681.052292         NaN

### Task 3  Working with Space
#### Showing the list of start station locations Using GROUP BY
#### Showing the number of trips started per station
#### ... but only for stations within 500m of Time Square!
#### The coordinates of Time Square is (40.7577,-73.9857)

In [14]:
# a list of start locations
task3_1 = '''
select distinct on (start_station_id)
start_station_id,start_station_latitude,start_station_longitude 
from citibike
GROUP BY start_station_id, start_station_latitude, start_station_longitude
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task3_1)), sep=',')

     start_station_id  start_station_latitude  start_station_longitude
0                  72               40.767272               -73.993929
1                  79               40.719116               -74.006667
2                  82               40.711174               -74.000165
3                  83               40.683826               -73.976323
4                 116               40.741776               -74.001497
5                 119               40.696089               -73.978034
6                 120               40.686768               -73.959282
7                 127               40.731724               -74.006744
8                 128               40.727103               -74.002971
9                 137               40.761628               -73.972924
10                143               40.692395               -73.993379
11                144               40.698399               -73.980689
12                146               40.716250               -74.009106
13                147               40.715422               -74.011220
14                150               40.720874               -73.980858
15                151               40.721816               -73.997203
16                152               40.714740               -74.009106
17                153               40.752062               -73.981632
18                157               40.690893               -73.996123
19                160               40.748238               -73.978311
20                161               40.729170               -73.998102
21                164               40.753231               -73.970325
22                167               40.748901               -73.976049
23                168               40.739713               -73.994564
24                173               40.760647               -73.984427
25                174               40.738177               -73.977387
26                195               40.709056               -74.010434
27                212               40.743349               -74.006818
28                216               40.700379               -73.995481
29                217               40.702772               -73.993836
..                ...                     ...                      ...
297               525               40.755942               -74.002116
298               526               40.747659               -73.984907
299               527               40.744023               -73.976056
300               528               40.742909               -73.977061
301               529               40.757570               -73.990985
302               530               40.771522               -73.990541
303               531               40.718939               -73.992663
304               532               40.710451               -73.960876
305               533               40.752996               -73.987216
306               534               40.702551               -74.012723
307               537               40.740259               -73.984092
308               538               40.756660               -73.976684
309               539               40.715348               -73.960241
310               545               40.736502               -73.978095
311               546               40.744449               -73.983035
312              2000               40.702551               -73.989402
313              2001               40.699773               -73.979927
314              2002               40.716887               -73.963198
315              2004               40.724399               -74.004704
316              2005               40.705312               -73.971001
317              2006               40.765909               -73.976342
318              2008               40.705693               -74.016777
319              2009               40.711174               -73.996826
320              2010               40.721655               -74.002347
321              2012               40.739445               -73.976806
322              2017               40.750224               -73.971214
323              2021               40.759291               -73.988597
324              2022               40.758491               -73.959206
325              2023               40.759681               -73.970314
326              3002               40.711512               -74.015756

[327 rows x 3 columns]

In [19]:
# number of trips started per station within 500m of time square 
task3_2 = '''
select count(start_station_id),
start_station_name as start_station_name
from citibike
where st_dwithin(
CDB_LatLng(start_station_latitude, start_station_longitude)::geography, CDB_LatLng(40.7577, -73.9857)::geography, 500)
GROUP BY start_station_id, start_station_name
'''

pd.read_csv(StringIO.StringIO(queryCartoDB(task3_2)), sep=',')

   count  start_station_name
0    213  Broadway & W 49 St
1    251  Broadway & W 41 St
2    507     W 41 St & 8 Ave
3    141     W 45 St & 6 Ave
4    112     W 43 St & 6 Ave
5    221     W 42 St & 8 Ave
6    141     W 45 St & 8 Ave

### Task 4  Putting it all together
#### Find the station that had the longest average trip duration during weekends and within 500m of TimeSquare!
#### Extra: create lines for trips started from stations within 500m of Times Squares and lasted less than 2 hours. The number of trips per each pair of stations are output as attributes of these lines.

In [20]:
task4_1 = '''
select avg(tripduration) as avg_durations, start_station_name
from citibike
where st_dwithin(CDB_LatLng(start_station_latitude, start_station_longitude)::geography, CDB_LatLng(40.7577, -73.9857)::geography, 500) 
and extract(DOW FROM starttime) in (0,6)
group by start_station_latitude, start_station_longitude, start_station_name
order by avg_durations DESC
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task4_1)), sep=',')

   avg_durations  start_station_name
0    1010.104167  Broadway & W 49 St
1     762.931818     W 45 St & 8 Ave
2     683.121212  Broadway & W 41 St
3     675.400000     W 45 St & 6 Ave
4     643.260274     W 41 St & 8 Ave
5     629.700000     W 43 St & 6 Ave
6     579.142857     W 42 St & 8 Ave

### Therefore, the start station with the longest average trip duration is Broadway & W 49 St with 1010.104167

In [20]:
# Extra Credit 
extra_credit = '''

select st_makeline(CDB_LatLng(start_station_latitude,start_station_longitude), CDB_LatLng(end_station_latitude,end_station_longitude)) as the_geom_webmercator,
count(start_station_id) as num_trips, start_station_name, end_station_name
from citibike
where st_dwithin(CDB_LatLng(start_station_latitude, start_station_longitude)::geography, CDB_LatLng(40.7577,-73.9857)::geography, 500) and tripduration < 60 * 60 * 2
group by start_station_latitude, start_station_longitude, end_station_latitude, end_station_longitude, start_station_name, end_station_name
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(extra_credit)), sep=',')

,the_geom_webmercator,num_trips,start_station_name,end_station_name
0,0102000020E610000002000000BE51C821247F52C02199...,1,Broadway & W 41 St,Pearl St & Anchorage Pl
1,0102000020E610000002000000BE51C821247F52C02199...,1,Broadway & W 41 St,Cherry St
2,0102000020E610000002000000BE51C821247F52C02199...,1,Broadway & W 41 St,Forsyth St & Canal St
3,0102000020E610000002000000BE51C821247F52C02199...,1,Broadway & W 41 St,Allen St & Hester St
4,0102000020E610000002000000BE51C821247F52C02199...,1,Broadway & W 41 St,Elizabeth St & Hester St
5,0102000020E610000002000000BE51C821247F52C02199...,1,Broadway & W 41 St,Duane St & Greenwich St
6,0102000020E610000002000000BE51C821247F52C02199...,3,Broadway & W 41 St,Forsyth St & Broome St
7,0102000020E610000002000000BE51C821247F52C02199...,1,Broadway & W 41 St,Allen St & Rivington St
8,0102000020E610000002000000BE51C821247F52C02199...,1,Broadway & W 41 St,Suffolk St & Stanton St
9,0102000020E610000002000000BE51C821247F52C02199...,1,Broadway & W 41 St,Lafayette St & Jersey St
10,0102000020E610000002000000BE51C821247F52C02199...,1,Broadway & W 41 St,E 7 St & Avenue A
11,0102000020E610000002000000BE51C821247F52C02199...,4,Broadway & W 41 St,E 10 St & Avenue A
12,0102000020E610000002000000BE51C821247F52C02199...,3,Broadway & W 41 St,St Marks Pl & 1 Ave
13,0102000020E610000002000000BE51C821247F52C02199...,1,Broadway & W 41 St,St Marks Pl & 2 Ave
14,0102000020E610000002000000BE51C821247F52C02199...,1,Broadway & W 41 St,W Houston St & Hudson St
15,0102000020E610000002000000BE51C821247F52C02199...,1,Broadway & W 41 St,Washington Pl & Broadway
16,0102000020E610000002000000BE51C821247F52C02199...,2,Broadway & W 41 St,LaGuardia Pl & W 3 St
17,0102000020E610000002000000BE51C821247F52C02199...,2,Broadway & W 41 St,E 14 St & Avenue B
18,0102000020E610000002000000BE51C821247F52C02199...,1,Broadway & W 41 St,Sullivan St & Washington Sq
19,0102000020E610000002000000BE51C821247F52C02199...,1,Broadway & W 41 St,1 Ave & E 15 St
20,0102000020E610000002000000BE51C821247F52C02199...,1,Broadway & W 41 St,E 10 St & 5 Ave
21,0102000020E610000002000000BE51C821247F52C02199...,2,Broadway & W 41 St,W 4 St & 7 Ave S
22,0102000020E610000002000000BE51C821247F52C02199...,2,Broadway & W 41 St,Broadway & E 14 St
23,0102000020E610000002000000BE51C821247F52C02199...,2,Broadway & W 41 St,University Pl & E 14 St
24,0102000020E610000002000000BE51C821247F52C02199...,1,Broadway & W 41 St,E 16 St & Irving Pl
25,0102000020E610000002000000BE51C821247F52C02199...,1,Broadway & W 41 St,W 11 St & 6 Ave
26,0102000020E610000002000000BE51C821247F52C02199...,6,Broadway & W 41 St,E 20 St & 2 Ave
27,0102000020E610000002000000BE51C821247F52C02199...,2,Broadway & W 41 St,E 19 St & 3 Ave
28,0102000020E610000002000000BE51C821247F52C02199...,2,Broadway & W 41 St,Bank St & Hudson St
29,0102000020E610000002000000BE51C821247F52C02199...,5,Broadway & W 41 St,E 17 St & Broadway
...,...,...,...,...
542,0102000020E610000002000000385762D8007F52C0BF6D...,13,Broadway & W 49 St,E 48 St & Madison Ave
543,0102000020E610000002000000385762D8007F52C0BF6D...,1,Broadway & W 49 St,W 45 St & 6 Ave
544,0102000020E610000002000000385762D8007F52C0BF6D...,2,Broadway & W 49 St,E 51 St & Lexington Ave
545,0102000020E610000002000000385762D8007F52C0BF6D...,5,Broadway & W 49 St,W 42 St & 8 Ave
546,0102000020E610000002000000385762D8007F52C0BF6D...,1,Broadway & W 49 St,E 55 St & 2 Ave
547,0102000020E610000002000000385762D8007F52C0BF6D...,1,Broadway & W 49 St,W 45 St & 8 Ave
548,0102000020E610000002000000385762D8007F52C0BF6D...,1,Broadway & W 49 St,E 55 St & Lexington Ave
549,0102000020E610000002000000385762D8007F52C0BF6D...,2,Broadway & W 49 St,W 52 St & 5 Ave
550,0102000020E610000002000000385762D8007F52C0BF6D...,12,Broadway & W 49 St,W 43 St & 10 Ave
551,0102000020E610000002000000385762D8007F52C0BF6D...,6,Broadway & W 49 St,9 Ave & W 45 St
552,0102000020E610000002000000385762D8007F52C0BF6D...,9,Broadway & W 49 St,11 Ave & W 41 St
553,0102000020E610000002000000385762D8007F52C0BF6D...,6,Broadway & W 49 St,Broadway & W 49 St
554,0102000020E610000002000000385762D8007F52C0BF6D...,2,Broadway & W 49 St,12 Ave & W 40 St
555,0102000020E610000002000000385762D8007F52C0BF6D...,1,Broadway & W 49 St,E 58 St & 3 Ave
556,0102000020E610000002000000385762D8007F52C0BF6D...,2,Broadway & W 49 St,E 56 St & Madison Ave
557,0102000020E610000002000000385762D8007F52C0BF6D...,2,Broadway & W 49 St,W 49 St & 8 Ave
558,0102000020E610000002000000385762D8007F52C0BF6D...,2,Broadway & W 49 St,Broadway & W 51 St
559,0102000020E610000002000000385762D8007F52C0BF6D...,4,Broadway & W 49 St,W 47 St & 10 Ave
560,0102000020E610000002000000385762D8007F52C0BF6D...,1,Broadway & W 49 St,W 56 St & 6 Ave
561,0102000020E610000002000000385762D8007F52C0BF6D...,2,Broadway & W 49 St,W 46 St & 11 Ave
562,0102000020E610000002000000385762D8007F52C0BF6D...,1,Broadway & W 49 St,Broadway & W 53 St
563,0102000020E610000002000000385762D8007F52C0BF6D...,2,Broadway & W 49 St,8 Ave & W 52 St
564,0102000020E610000002000000385762D8007F52C0BF6D...,1,Broadway & W 49 St,Broadway & W 55 St
565,0102000020E610000002000000385762D8007F52C0BF6D...,1,Broadway & W 49 St,W 54 St & 9 Ave
566,0102000020E610000002000000385762D8007F52C0BF6D...,1,Broadway & W 49 St,Central Park S & 6 Ave
567,0102000020E610000002000000385762D8007F52C0BF6D...,3,Broadway & W 49 St,W 53 St & 10 Ave
568,0102000020E610000002000000385762D8007F52C0BF6D...,5,Broadway & W 49 St,W 52 St & 11 Ave
569,0102000020E610000002000000385762D8007F52C0BF6D...,1,Broadway & W 49 St,W 56 St & 10 Ave
570,0102000020E610000002000000385762D8007F52C0BF6D...,5,Broadway & W 49 St,Broadway & W 60 St
571,0102000020E610000002000000385762D8007F52C0BF6D...,2,Broadway & W 49 St,W 59 St & 10 Ave

In [1]:
## Extra Credit: Don't have time to do the python2 and python3 things